*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.container-images {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

img {
    /* transform: translateY(-50%); */
  width: 20%;
  height: auto;
  margin: 20px;
}

.btn{
    visibility: hidden;
}

.img1 {
   /* visibility:hidden; */
}

h1,
p {
  text-align: center;
  color: #f1f1f1;
  line-height: 1.2;
}

h1 {
  margin-top: 50px;
  padding: 0 10px;
}

p {
  margin-top: 10px;
  padding: 0 10px;
}
